/* BODY */

.defaultTheme {
	background-color: rgb(93, 170, 200);
	color: white; 
	font-family: 'Walter Turncoat';
}

nav {
	background-color: rgb(93, 170, 200);
	text-align: center;
	color: black;
}

h4{
	margin: 16% 1% 1% 1%;
}

#mainContainer {
	border: 5px double black;
	box-shadow: 3px 3px 3px #404040;
	margin: 2% 1% 1% 1%;
	padding: 3%;
}


input[type=text] {
    width: 70%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
    width: 80%;
}*/

#checkBoxes {
	margin: 5px;
	padding: 5px;
}

/* Delete Button Style*/
.deleteButton {
	color: black;
}

.darkTheme{
	background-color: black;
	color: hotpink;
}

.white-text {
	color: white;
}

.largeText {
	font-size: 40pt;
}