/* BODY */

body {
	background-color: rgb(93, 170, 200);
	color: white; 
	font-family: 'Walter Turncoat';
}

header {
	text-align: center;
}

nav {
	text-align: center;
	color: black;
}

#mainContainer {
	border: 5px solid red;
	margin: 1%;
	padding: 3%;

}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 80%;
}

#checkBoxes {
	margin: 5px;
	padding: 5px;
}

/* Delete Button Style*/
.deleteButton {
	color: black;
}

.darkTheme{
	background-color: black;
	color: hotpink;
}

.white-text {
	color: white;
}

.largeText {
	font-size: 40pt;
}